String Based Questions

1. Write a program to reverse a string.
2. Check if a string is a palindrome.
3. Convert a string to uppercase.
4. Convert a string to lowercase.
5. Count the number of vowels in a string.
6. Count the number of consonants in a string.
7. Remove all whitespaces from a string.

Answer-1

In [1]:
str=input("Enter a string: ")

Enter a string:  This is my first answer.

In [2]:
str[::-1]

'.rewsna tsrif ym si sihT'

Answer-2

In [4]:
reverse_str=str[::-1]
if(reverse_str == str):
    print("palindrome")
else:
    print("not palindrome")

not palindrome

Answer -3

In [5]:
str.upper()

'THIS IS MY FIRST ANSWER.'

Answer-4

In [6]:
str.lower()

'this is my first answer.'

Answer-5

In [2]:
def count_vowels(string):
    vowel_count=0
    string=string.lower()
    vowels=set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count+=1
    return vowel_count

In [3]:
new_string="This is my 5th answer."

In [4]:
sent= count_vowels(new_string)
print("The number of vowels are", sent)

The number of vowels are 4

I defined a variable to keep track of the vowel count. Defined a set of vowels and converted the string to lowercase for convenience. I then created a for loop to check whether a character is vowel or not. Then I tested my function and put in a command to print the number of vowels in the sentence.

Answer-6

In [11]:
def count_consonants(string):
    cons_count=0
    consonants="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in consonants:
            cons_count+=1
    return cons_count

In [12]:
new_sentence="My eyes are fried and I need to rest them."

In [13]:
print("The number of consonants are", count_consonants(new_sentence))

The number of consonants are 19

I defined a new function to find out the consonant count in a given string. I did it in a similar manner as shown in answer 5.

Answer-7

In [2]:
name=input("Enter the name of your birthplace: ")

Enter the name of your birthplace:  The name is New Delhi.

In [3]:
def remove(name):
    return name.replace(" ", "")

In [4]:
print(remove(name))

ThenameisNewDelhi.

8. Find the length of a string without using the `len()` function.
9. Check if a string contains a specific word.
10. Replace a word in a string with another word.
11. Count the occurrences of a word in a string.
12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.
14. Split a string into a list of words.
15. Join a list of words into a string.

Answer-8

In [5]:
count=0
for char in name:
    count+=1
print("The length of string/name is",count)

The length of string/name is 22

Answer -9

In [7]:
#To check this use the find function
#str.find(word) - returns 1st index of 1st occurence
name.find("is")

9

Answer 10

In [8]:
#str.replace(old,new)- replaces old with new.
name.replace("Delhi","Chandigarh")

'The name is New Chandigarh.'

Answer-11

In [9]:
#str.count("substr") - counts its occurence
name.count("is")

1

Answer-12

In [10]:
#str.find(word) - returns 1st index of 1st occurence
name.find("New")

12

Answer-13

In [13]:
#string.rfind(value, start, end) - finds the last occurence of a word in string.
name.rfind("h",0,-1)

19

Answer 14

In [17]:
text="This is a brand new day."
x=text.split()
print (x)

['This', 'is', 'a', 'brand', 'new', 'day.']

Answer 15

In [22]:
List=[1,2,3,"hello","how","are","you"]
string= ' '.join(map(str,List))
print(string)

1 2 3 hello how are you

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.
17. Check if a string starts with a specific word or phrase.
18. Check if a string ends with a specific word or phrase.
19. Convert a string to title case (e.g., "hello world" to "Hello World").
20. Find the longest word in a string.
21. Find the shortest word in a string.
22. Reverse the order of words in a string.
23. Check if a string is alphanumeric.
24. Extract all digits from a string.

Answer 16

In [23]:
space="This is my python homework."
# str.replace(old,new)- replaces old with new. 
space.replace(" ","_")

'This_is_my_python_homework.'

Answer-17

In [24]:
#str.startswith("substr") - replies with T/F
space.startswith("is")

False

Answer-18

In [29]:
##str.endswith("substr") - replies with T/F
space.endswith(".")

True

Answer-19

In [30]:
space.title()

'This Is My Python Homework.'

Answer-20

In [5]:
string="My name is Anthony Gonzalez"    #splitting string into list and then using len function
word=string.split()
longest_word=" "

In [3]:
for w in word:
    if len(w)>len(longest_word):
        longest_word=w
print("Longest word: ",longest_word)

Longest word:  Gonzalez

Answer-21

In [4]:
shortest_word=word[0]
for w in word:
    if len(w)<len(shortest_word):
        shortest_word=w
print("Shortest word:",shortest_word)

Shortest word: My

Answer-22

In [6]:
m="Hello lovely people, I am a student"
n=m.split()  #splitting into a list
n.reverse()
#now joining them
result=" ".join(n)
print(result)

student a am I people, lovely Hello

Answer-23

In [1]:
p="Hello 123"
q="abcdefv"
print("Is",p,"alphanumeric?")
print(p.isalnum())
print("Is",q,"alphanumeric?")
print(q.isalnum())           #will return true if all are either letters or numbers, false if a combi of both

Is Hello 123 alphanumeric?
False
Is abcdefv alphanumeric?
True

Answer-24

In [3]:
def extract_digits(string):
    digits = ""   #initialising empty string        
    for char in string:
        if char.isdigit():    #returns True if all the characters are digits, otherwise False
            digits += char
    return digits

In [7]:
hello="1234heywhy36"

In [8]:
extract_digits(hello)

'123436'

25. Extract all alphabets from a string.
26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.
28. Swap the case of each character in a string.
29. Remove a specific word from a string.
30. Check if a string is a valid email address.
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.
33. Replace multiple spaces in a string with a single space.
34. Check if a string is a valid URL.

Answer-25

In [11]:
def extract_alphabets(string):
    alphabets = ' '.join([char for char in string if char.isalpha()])
    return alphabets

In [12]:
extract_alphabets("hello1234hello")

'h e l l o h e l l o'

Answer-26

In [14]:
Str="HelloWeirdPeople"
upper=0
for i in Str:
      if(i.isupper()):
            upper+=1           #can have no else statement when code is only returned when true
print("The number of uppercase characters is:",upper)

The number of uppercase characters is: 3

Answer 27

In [15]:
Str="HolaPaloozaLola"
lower=0
for i in Str:
      if(i.islower()):
            lower+=1
print("The number of lowercase characters is:",lower)

The number of lowercase characters is: 12

Answer 28

In [16]:
yo="Hello My Brain has Stopped working."

In [17]:
yo.swapcase()

'hELLO mY bRAIN HAS sTOPPED WORKING.'

Answer 29

In [18]:
#first split the string into a list, then use loop to remove word, then join list and return filtered string

In [19]:
def remove_word(string,unwanted_word):
    words=string.split()
    filtered_words=[w for w in words if w != unwanted_word]
    new_string=" ".join(filtered_words)
    return new_string

In [22]:
remove_word("My name is Anthony Gonzalez","Anthony")      #will have to mention full word, won't remove half word

'My name is Gonzalez'

Answer-30

In [1]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

Answer-31

In [3]:
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "pratinanda@email.com"
result = extract_username(email)
print(result)

pratinanda

Answer-32

In [4]:
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

Answer-33

In [5]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

Answer-34

In [6]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

35. Extract the protocol (http or https) from a URL string.
36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.
38. Check if a string contains only digits.
39. Check if a string contains only alphabets.
40. Convert a string to a list of characters.
41. Check if two strings are anagrams.
42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.
44. Find the most frequent word in a string.

Answer-35

In [7]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
 #Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

Answer-36

In [8]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

Answer-37

In [9]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

Answer-38

In [10]:
def contains_only_digits(input_string):
    # Check if all characters in the string are digits
    return input_string.isdigit()

# Example strings
string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

Answer-39

In [11]:
def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

Answer-40

In [12]:
def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# Example string
input_str = "Hello, world!"

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

Answer-41

In [1]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

Answer-42

In [2]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
        # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)
# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

Answer-43

In [3]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3
# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

Answer-44

In [6]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
    
# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.
46. Count the number of syllables in a string.
47. Check if a string contains any special characters.
48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.
50. Convert a CSV string to a list of lists.

Answer-45

In [7]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'there', 'hello', 'the', 'world', 'hows'}

Answer-46

In [9]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

Answer-47

In [10]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)
# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

Answer-48

In [11]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4
# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

Answer-50

In [12]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)
# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

List Based Questions

1. Create a list with integers from 1 to 10.
2. Find the length of a list without using the `len()` function.
3. Append an element to the end of a list.
4. Insert an element at a specific index in a list.
5. Remove an element from a list by its value.
6. Remove an element from a list by its index.
7. Check if an element exists in a list.
8. Find the index of the first occurrence of an element in a list.
9. Count the occurrences of an element in a list.
10. Reverse the order of elements in a list.
11. Sort a list in ascending order.
12. Sort a list in descending order.
13. Create a list of even numbers from 1 to 20.
14. Create a list of odd numbers from 1 to 20.
15. Find the sum of all elements in a list.
16. Find the maximum value in a list.
17. Find the minimum value in a list.
18. Create a list of squares of numbers from 1 to 10.
19. Create a list of random numbers.
20. Remove duplicates from a list.

Answer-1

In [14]:
a=list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Answer-2

In [15]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

# Example list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the custom_len function
length = custom_len(my_list)

# Print the length of the list
print("Length of the list:", length)

Length of the list: 5

Answer-3

In [16]:
a.append(20)

In [17]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

Answer-4

In [18]:
a.insert(5,67)
a

[1, 2, 3, 4, 5, 67, 6, 7, 8, 9, 10, 20]

Answer-5

In [21]:
a.remove(67)
a

[1, 2, 3, 4, 6, 7, 8, 9, 10, 20]

Answer-6

In [22]:
a.pop(1)
a

[1, 3, 4, 6, 7, 8, 9, 10, 20]

Answer-7

In [23]:
my_list = [10, 20, 30, 40, 50]

# Element to check
element_to_check = 30

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

Answer-8

In [24]:
a.index(10)

7

Answer-9

In [25]:
a.count(10)

1

Answer-10

In [28]:
a.reverse()
a

[20, 10, 9, 8, 7, 6, 4, 3, 1]

Answer-11

In [29]:
my_list.sort()
my_list

[10, 20, 30, 40, 50]

Answer-12

In [30]:
my_list.sort(reverse=True)
my_list

[50, 40, 30, 20, 10]

Answer-13

In [32]:
b=list(range(2,22,2))
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Answer-14

In [33]:
c=list(range(1,20,2))
c

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Answer-15

In [34]:
d=sum(c)
d

100

Answer-16

In [35]:
e=max(c)
e

19

Answer-17

In [36]:
f=min(c)
f

1

Answer-18

In [37]:
# Use a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Answer-19

In [38]:
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [44, 40, 49, 84, 42, 57, 72, 28, 47, 7]

Answer-20

In [39]:
# Example list with duplicates
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

21. Find the common elements between two lists.
22. Find the difference between two lists.
23. Merge two lists.
24. Multiply all elements in a list by 2.
25. Filter out all even numbers from a list.
26. Convert a list of strings to a list of integers.
27. Convert a list of integers to a list of strings.
28. Flatten a nested list.
29. Create a list of the first 10 Fibonacci numbers.
30. Check if a list is sorted.
31. Rotate a list to the left by `n` positions.
32. Rotate a list to the right by `n` positions.
33. Create a list of prime numbers up to 50.
34. Split a list into chunks of size `n`.
35. Find the second largest number in a list.
36. Replace every element in a list with its square.
37. Convert a list to a dictionary where list elements become keys and their indices become values.
38. Shuffle the elements of a list randomly.
39. Create a list of the first 10 factorial numbers.
40. Check if two lists have at least one element in common.

Answer-21

In [40]:
def common_member(a, b):
    result = [i for i in a if i in b]
    return result
 
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
 
print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

Answer-22

In [41]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

Answer-23

In [42]:
merged_list = list1 + list2

# Print the merged list
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

Answer-24

In [43]:
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 40, 80, 20, 100, 60]

Answer-25

In [45]:
# Initialisation of list
lis = [1, 2, 3, 4, 5]
 
lis2 = [i for i in lis if i % 2 == 0]
 
# Printing output
print(lis2)

[2, 4]

Answer-26

In [44]:
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

Answer-27

In [46]:
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

Answer-28

In [47]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Answer-29

In [48]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

Answer-30

In [49]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

Answer-31

In [50]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

Answer-32

In [51]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

Answer-33

In [52]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Answer-34

In [53]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

Answer-35

In [54]:
# Example list
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

Answer-36

In [55]:
# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

Answer-37

In [56]:
# Example list
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

Answer-38

In [57]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [6, 9, 10, 3, 4, 2, 8, 7, 1, 5]

Answer-39

In [58]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

Answer-40

In [59]:
# Function to check if two lists have at least one element in common
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.
42. Replace negative numbers in a list with 0.
43. Convert a string into a list of words.
44. Convert a list of words into a string.
45. Create a list of the first `n` powers of 2.
46. Find the longest string in a list of strings.
47. Find the shortest string in a list of strings.
48. Create a list of the first `n` triangular numbers.
49. Check if a list contains another list as a subsequence.
50. Swap two elements in a list by their indices.

Answer-41

In [60]:
my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

Answer-42

In [61]:
my_list = [10, -5, 20, -15, 30, -25]

# Step 1: Iterate through the list and replace negative numbers with 0
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

Answer-43

In [62]:
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

Answer-44

In [63]:
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

Answer-45

In [64]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

Answer-46

In [65]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

Answer-47

In [66]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

Answer-48

In [67]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

Answer-49

In [68]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

Answer-50

In [69]:
# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [10, 0, 20, 0, 30, 0]

Tuple Based Questions

1. Create a tuple with integers from 1 to 5.
2. Access the third element of a tuple.
3. Find the length of a tuple without using the `len()` function.
4. Count the occurrences of an element in a tuple.
5. Find the index of the first occurrence of an element in a tuple.
6. Check if an element exists in a tuple.
7. Convert a tuple to a list.
8. Convert a list to a tuple.
9. Unpack the elements of a tuple into variables.
10. Create a tuple of even numbers from 1 to 10.
11. Create a tuple of odd numbers from 1 to 10.
12. Concatenate two tuples.
13. Repeat a tuple three times.
14. Check if a tuple is empty.
15. Create a nested tuple.
16. Access the first element of a nested tuple.
17. Create a tuple with a single element.
18. Compare two tuples.
19. Delete a tuple.
20. Slice a tuple.

Answer-1

In [70]:
tup=(1,2,3,4,5)

Answer-2

In [71]:
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Access the third element of the tuple
third_element = my_tuple[2]

# Explanation: In this line, we use indexing to access the third element of the tuple.
# Since indexing is 0-based, the third element is at index 2.

# Step 3: Print the third element
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

Answer-3

In [72]:
# Step 1: Initialize a variable to count the elements
count = 0

# Step 2: Iterate through the tuple and increment the count for each element
for _ in my_tuple:
    count += 1

# Step 3: Print the length of the tuple
print("The length of the tuple is:", count)

The length of the tuple is: 5

Answer-4

In [73]:
element_to_count = 20
count = 0
for item in my_tuple:
    if item == element_to_count:
        count += 1

#  Print the count of occurrences
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 1 times in the tuple.

Answer-5

In [74]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30, 20, 40, 50)

# Step 2: Choose the element to find the index of
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

Answer-6

In [76]:
 #Step 1: Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Step 2: Choose the element to check for existence
element_to_check = 30

# Step 3: Check if the element exists in the tuple using the 'in' operator
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

Answer-7

In [77]:
a=list(my_tuple)
a

[10, 20, 30, 40, 50]

Answer-8

In [78]:
b=tuple(a)
b

(10, 20, 30, 40, 50)

Answer-9

In [79]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

Answer-10

In [80]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

Answer-11

In [81]:
# Step 1: Create a list of even numbers using a list comprehension
even_numbers_list = [num for num in range(2, 11, 2)]  # Start from 2, step by 2, end at 10

# Step 2: Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Step 3: Print the resulting tuple
print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

Answer-12

In [83]:
 #Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Step 3: Print the concatenated tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

Answer-13

In [84]:
d=concatenated_tuple*3
d

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

Answer-14

In [85]:
# Step 1: Create an empty tuple and a non-empty tuple
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

Answer-15

In [86]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

Answer-16

In [87]:
nested_tuple[0]

(1, 2, 3)

Answer-17

In [88]:
e=(20,)
e

(20,)

Answer-18

In [89]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

Answer-19

In [90]:
del tuple1
tuple1

NameError: name 'tuple1' is not defined

Answer-20

In [92]:
f=tuple2[1:3]
f

(2, 4)

21. Find the maximum value in a tuple.
22. Find the minimum value in a tuple.
23. Convert a string to a tuple of characters.
24. Convert a tuple of characters to a string.
25. Create a tuple from multiple data types.
26. Check if two tuples are identical.
27. Sort the elements of a tuple.
28. Convert a tuple of integers to a tuple of strings.
29. Convert a tuple of strings to a tuple of integers.
30. Merge two tuples.
31. Flatten a nested tuple.
32. Create a tuple of the first 5 prime numbers.
33. Check if a tuple is a palindrome.
34. Create a tuple of squares of numbers from 1 to 5.
35. Filter out all even numbers from a tuple.
36. Multiply all elements in a tuple by 2.
37. Create a tuple of random numbers.
38. Check if a tuple is sorted.
39. Rotate a tuple to the left by `n` positions.
40. Rotate a tuple to the right by `n` positions.

Answer-21

In [93]:
max(f)

4

Answer-22

In [94]:
min(f)

2

Answer-23

In [95]:
my_string = "Hello, World!"
e=tuple(my_string)
e

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

Answer-24

In [97]:
g="".join(e)
g

'Hello, World!'

Answer-25

In [98]:
mixed_tuple = (1, "hello", 3.14, True)
mixed_tuple

(1, 'hello', 3.14, True)

Answer-26

In [99]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

Answer-27

In [100]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

Answer-28

In [101]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

Answer-29

In [102]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

Answer-30

In [103]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

Answer-31

In [104]:
 #Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

Answer-32

In [105]:
 def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
 
primes = tuple(x for x in range(2, 10) if is_prime(x))
print(primes)

(2, 3, 5, 7)

Answer-33

In [106]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

Answer-34

In [107]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

Answer-35

In [108]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers using a list comprehension
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

# Print the filtered tuple
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

Answer-36

In [109]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

Answer-37

In [110]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (45, 96, 79, 32, 40, 43, 19, 13, 51, 49)

Answer-38

In [111]:
# Function to check if a tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

Answer-39

In [112]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

Answer-40

In [113]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.
42. Create a tuple from user input.
43. Swap two elements in a tuple.
44. Reverse the elements of a tuple.
45. Create a tuple of the first `n` powers of 2.
46. Find the longest string in a tuple of strings.
47. Find the shortest string in a tuple of strings.
48. Create a tuple of the first `n` triangular numbers.
49. Check if a tuple contains another tuple as a subsequence.
50. Create a tuple of alternating 1s and 0s of length `n`.

Answer-41

In [114]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

Answer-42

In [115]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  s,e,r,e,n,d,i,p,,i,t,y,

User input tuple: ('s', 'e', 'r', 'e', 'n', 'd', 'i', 'p', '', 'i', 't', 'y', '')

Answer-43

In [116]:
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

Answer-44

In [117]:
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

Answer-45

In [118]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

Answer-46

In [120]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

Answer-47

In [121]:
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

Answer-48

In [122]:
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

Answer-49

In [123]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

Answer-50

In [124]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Questions

1. Create a set with integers from 1 to 5.
2. Add an element to a set.
3. Remove an element from a set.
4. Check if an element exists in a set.
5. Find the length of a set without using the `len()` function.
6. Clear all elements from a set.
7. Create a set of even numbers from 1 to 10.
8. Create a set of odd numbers from 1 to 10.
9. Find the union of two sets.
10. Find the intersection of two sets.
11. Find the difference between two sets.
12. Check if a set is a subset of another set.
13. Check if a set is a superset of another set.
14. Create a set from a list.
15. Convert a set to a list.
16. Remove a random element from a set.
17. Pop an element from a set.
18. Check if two sets have no elements in common.
19. Find the symmetric difference between two sets.
20. Update a set with elements from another set.

Answer-1

In [125]:
my_set={1,2,3,4,5}

Answer-2

In [126]:
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

Answer-3

In [127]:
my_set.remove(1)
my_set

{2, 3, 4, 5, 6}

Answer-4

In [128]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  7

7 exists in the set.

Answer-5

In [129]:
# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

Answer-6

In [130]:
my_set.clear()
my_set

set()

Answer-7

In [131]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
for num in range(1, 11):
    # Step 3: Check if the number is even
    if num % 2 == 0:
        # Step 4: Add the even number to the set
        even_numbers_set.add(num)

# Step 5: Print the set of even numbers
print(even_numbers_set)

{2, 4, 6, 8, 10}

Answer-8

In [132]:
# Step 1: Initialize an empty set to store odd numbers.
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10.
for num in range(1, 11):
    # Step 3: Check if the current number is odd.
    if num % 2 != 0:
        # Step 4: If the number is odd, add it to the set.
        odd_numbers_set.add(num)

# Step 5: Print the final set of odd numbers.
print(odd_numbers_set)

{1, 3, 5, 7, 9}

Answer-9

In [133]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

Answer-10

In [134]:
d=set1.intersection(set2)
d

{4, 5}

Answer-11

In [135]:
e=set1.difference(set2)
e

{1, 2, 3}

Answer-12

In [136]:
f=set1.issubset(set2)
f

False

Answer-13

In [137]:
g=set1.issuperset(set2)
g

False

Answer-14

In [138]:
h=set(my_list)
h

{0, 10, 20, 30}

Answer-15

In [139]:
g=list(h)
g

[0, 10, 20, 30]

Answer-16

In [140]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

Answer-17

In [142]:
set1.pop()
set1

{2, 3, 4, 5}

Answer-18

In [143]:
j=set1.intersection(set2)
j

{4, 5}

Answer-19

In [144]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

Answer-20

In [145]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.
22. Check if two sets are identical.
23. Create a frozen set.
24. Check if a set is disjoint with another set.
25. Create a set of squares of numbers from 1 to 5.
26. Filter out all even numbers from a set.
27. Multiply all elements in a set by 2.
28. Create a set of random numbers.
29. Check if a set is empty.
30. Create a nested set (hint: use frozenset).
31. Remove an element from a set using the discard method.
32. Compare two sets.
33. Create a set from a string.
34. Convert a set of strings to a set of integers.
35. Convert a set of integers to a set of strings.
36. Create a set from a tuple.
37. Convert a set to a tuple.
38. Find the maximum value in a set.
39. Find the minimum value in a set.
40. Create a set from user input.

Answer-21

In [146]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)
         # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

Answer-22

In [147]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

Answer-23

In [148]:
elements = [1, 2, 3, 4, 5]

#  Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

Answer-24

In [151]:
k=set1.isdisjoint(set2)
k

False

Answer-25

In [152]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

Answer-26

In [153]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

Answer-27

In [154]:
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

Answer-28

In [155]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {97, 100, 85, 86, 61}

Answer-29

In [156]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

Answer-30

In [157]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

Answer-31

In [158]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

Answer-32

In [159]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)
# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

Answer-33

In [160]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'e', 'o', 'h', 'l'}

Answer-34

In [161]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '456', '123'}
Converted Integer Set: {456, 123, 789}

Answer-35

In [162]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'5', '2', '4', '3', '1'}

Answer-36

In [163]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

Answer-37

In [164]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

Answer-38

In [165]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

Answer-39

In [166]:
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

Answer-40

In [167]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  hello,my,name,is,done
>  done

Final set: {'hello,my,name,is,done'}

41. Check if the intersection of two sets is empty.
42. Create a set of the first 5 Fibonacci numbers.
43. Remove duplicates from a list using sets.
44. Check if two sets have the same elements, regardless of their count.
45. Create a set of the first `n` powers of 2.
46. Find the common elements between a set and a list.
47. Create a set of the first `n` triangular numbers.
48. Check if a set contains another set as a subset.
49. Create a set of alternating 1s and 0s of length `n`.
50. Merge multiple sets into one.

Answer-41

In [168]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

Answer-42

In [169]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

Answer-43

In [170]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

Answer-44

In [171]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

Answer-45

In [172]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

Answer-46

In [173]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

Answer-47

In [174]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  8

The set of the first 8 triangular numbers is: {1, 3, 36, 6, 10, 15, 21, 28}

Answer-48

In [175]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

Answer-49

In [176]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

Answer-50

In [178]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}