Basic Level:
1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.
2. Create a program that calculates the sum of all numbers in a list using a `for` loop.
3. Write a program to print the characters of a string in reverse order using a `for` loop.
4. Develop a program that finds the factorial of a given number using a `for` loop.
5. Create a program to print the multiplication table of a given number using a `for` loop.
6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.
7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.
8. Create a program to find the length of a string without using the `len()` function.
9. Write a program that calculates the average of a list of numbers using a `for` loop.
10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

Answer-1

In [1]:
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

Answer-2

In [3]:
lst = []           #starting with empty list
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)               #adding each new element to list
print("Sum of elements in given list is :", sum(lst))

How many numbers:  5
Enter number  21
Enter number  17
Enter number  22
Enter number  11
Enter number  16

Sum of elements in given list is : 87

Answer-3

In [18]:
def reverse_string(str):  
    str1 = ""   # Declaring empty string to store the reversed string  
    for i in str:  
        str1 = i + str1  
    return str1    # It will return the reverse string to the caller function

In [19]:
str = "yopeople"    # Given String       
print("The original string is: ",str)  
print("The reverse string is",reverse_string(str)) # Function call

The original string is:  yopeople
The reverse string is elpoepoy

Answer-4

In [1]:
n=6
fact=1
for i in range(1,n+1):
    fact*=i
print("factorial is", fact)

factorial is 720

Answer-5

In [2]:
n=6
for i in range(1,11):
    print(i*n)

6
12
18
24
30
36
42
48
54
60

Answer-6

In [1]:
lis=[1,2,3,5,6,8,9,12,16,21]
n=len(lis)           
countEven = 0               #initialising iterator
countodd = 0
for i in range(0, n):
    if lis[i]%2==0 :
        countEven += 1
    else:
        countodd += 1            #updation condition

print("Even Elements count is: " )
print(countEven)

print("Odd Elements count is : ")
print(countodd)

Even Elements count is:
5
Odd Elements count is :
5

Answer-7

In [3]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

Answer-8

In [4]:
string="My name is"
count=0
for i in string:
    count+=1           #updation condition
print(count)

10

Answer-9

In [13]:
list = [2, 4, 6, 8, 10]
sum = 0
for num in list:
    sum += num
average = sum / len(list)
print("The average of the list is:", average)

The average of the list is: 6.0

In [ ]:
Answer-10

#The Fibonacci series follows a simple mathematical logic. The first two numbers in the sequence are 0 and 1. From the third number onward, each number is the sum of the two preceding ones. F(n)=F(n−1)+F(n−2) ;
where F(n) is the nth number in the Fibonacci sequence.

In [14]:
def fibonacci_with_ab(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

In [15]:
n = 6
print(f"Fibonacci series with {n} elements:", end=" ")
fibonacci_with_ab(n)

Fibonacci series with 6 elements: 0 1 1 2 3 5

or

In [16]:
def fibonacci_with_lst(n):
    fib_series = [0, 1]
    for i in range(2, n):
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series

In [17]:
n = 8
result = fibonacci_with_lst(n)
print(f"Fibonacci series with {n} elements:", result)

Fibonacci series with 8 elements: [0, 1, 1, 2, 3, 5, 8, 13]

Intermediate Level:
11. Write a program to check if a given list contains any duplicates using a `for` loop.
12. Create a program that prints the prime numbers in a given range using a `for` loop.
13. Develop a program that counts the number of vowels in a string using a `for` loop.
14. Write a program to find the maximum element in a 2D list using a nested `for` loop.
15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.
16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.
17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.
18. Create a program to print the common elements from two lists using a `for` loop.
19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern
20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

Answer-11

In [1]:
lis1 = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
uniqueList = []          #creating empty lists
duplicateList = []
for i in lis1:
    if i not in uniqueList:
        uniqueList.append(i)
    elif i not in duplicateList:
        duplicateList.append(i)
print(duplicateList)

[1, 2, 5, 9]

Answer-12

In [2]:
for num in range(30):
    if num > 1:            #all prime numbers are bigger than 1
        for i in range(2, num):
            if (num % i) == 0:           #if they are divisible by any number other than themselves and 1,=not prime
                break                     #keyword used to terminate current loop
        else:
                print(num)

2
3
5
7
11
13
17
19
23
29

Answer-13

In [3]:
def count_vowels(string):
    vowel_count=0
    string=string.lower()
    vowels=set("aeiou")
    for char in string:
        if char in vowels:
            vowel_count+=1
    return vowel_count

In [4]:
count_vowels("My name is Reena Madhumati.")

10

Answer-14

In [1]:
def get_max(my_list):
    m = None
    for item in my_list:
        if isinstance(item, list):
            item = get_max(item)
        if not m or m < item:
            m = item
    return m

In [2]:
list1=[3,4,5,6,7,[5,10,3]]

In [3]:
get_max(list1)

10

Answer-15

In [1]:
op = [1, 2, 3, 4, 2,3,4,5,6,7]
def remove_values_from_list(the_list, val):
    for i in range(the_list.count(val)):
        the_list.remove(val)
    print(the_list)

In [2]:
remove_values_from_list(op,4)

[1, 2, 3, 2, 3, 5, 6, 7]

Answer-16

In [6]:
for i in range(1, 6):
    print("i =", i, ":", end=" ")
    for j in range(1, 6):
        print("{:2d}".format(i * j), end=" ")
    print()

i = 1 :  1  2  3  4  5
i = 2 :  2  4  6  8 10
i = 3 :  3  6  9 12 15
i = 4 :  4  8 12 16 20
i = 5 :  5 10 15 20 25

Answer-17

In [4]:
fahren = [89, 100, 25, 0]

celsius = []       #initialising empty list
for f in fahren:
    c = (f - 32) * 5 / 9
    celsius.append(c)

print(celsius)

[31.666666666666668, 37.77777777777778, -3.888888888888889, -17.77777777777778]

Answer-18

In [10]:
def common_elements(list1, list2):
    result = []
    for element in list1:
        if element in list2:
            result.append(element)
    return result

In [12]:
List1=[1,2,3,4,2,1,10,19,65]

In [13]:
List2=[1,2,3,5,6,7,8,9]

In [14]:
common_elements(List1,List2)

[1, 2, 3, 2, 1]

Answer-19

In [7]:
rows = int(input("Please enter the total number of rows  : "))

print("Right Angled Triangle Star Pattern") 
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print('*', end = '  ')
    print()

Please enter the total number of rows  :  5

Right Angled Triangle Star Pattern
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

Answer-20

In [9]:
num1 = 25
num2 = 60
gcd = 2
 
for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

GCD of 25 and 60 is 5

Advanced Level:
21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.
22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.
23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.
24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.
25. Write a program to flatten a nested list using list comprehension.
26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.
27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.
28. Write a program that combines two lists into a dictionary using list comprehension.
29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.
30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

Answer-21

In [12]:
list2=[1,2,3,4,5,6,7]
summy = [i for i in list2] 
print(sum(summy))

28

Answer-22

In [14]:
[x for x in range(2, 30)
     if all(x % y for y in range(2, x//2))]

[2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29]

Answer-23

In [39]:
from functools import reduce

def unique(list1):
    ans = reduce(lambda re, x: re+[x] if x not in re else re, list1, [])
    print(ans)
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)
list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
[10, 20, 30, 40]

the unique values from 2nd list is
[1, 2, 3, 4, 5]

Answer-24

In [23]:
palindrome = [x for x in range(1, 101) if str(x) == str(x)[::-1]]

In [24]:
print(palindrome)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

Answer-25

In [20]:
a = [[1,2,3,4,5], [3,4,6,7,8]]
[i for g in a for i in g]

[1, 2, 3, 4, 5, 3, 4, 6, 7, 8]

Answer-26

In [21]:
list3 = [34, 93, 8, 4, 46,5,72,11]
odd_sum = 0
even_sum = 0
 
odd_sum += sum([int(ele)
                for sub in list3 for ele in str(sub) if int(ele) % 2 == 1])
even_sum += sum([int(ele)
                 for sub in list3 for ele in str(sub) if int(ele) % 2 == 0])
 
print("Odd digit sum : " + str(odd_sum))
print("Even digit sum : " + str(even_sum))

Odd digit sum : 29
Even digit sum : 28

Answer-27

In [15]:
numbers = [1, 3, 5, 7,9]
# create a new list using list comprehension
square_numbers = [num * num for num in numbers]

print(square_numbers)

[1, 9, 25, 49, 81]

Answer-28

In [28]:
numbers = [1, 2, 3,4,5]
languages = ['spanish', 'hindi', 'urdu','portuguese','english']

dictionary = {k: v for k, v in zip(numbers, languages)}
print(dictionary)

{1: 'spanish', 2: 'hindi', 3: 'urdu', 4: 'portuguese', 5: 'english'}

Answer-29

In [17]:
string="My name is Anthony Gonzalez."
vowels = "aeiou"

result = [char for char in string if char in vowels]

print(result)

['a', 'e', 'i', 'o', 'o', 'a', 'e']

In [ ]:
Answer-30

In [27]:
list4=["hello 12","my name 65", "johny34"]
digits = "123456789"
[ele[k:k+2] for ele in list4 for k, l in enumerate(ele) if l in digits and k!= len(ele)-1 and ele[k+1] in digits]

['12', '65', '34']

Challenge Level:
31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.
32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.
33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.
34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.
35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.
36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.
37. Write a program that finds the longest word in a sentence using list comprehension.
38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

Answer-32

In [41]:
n = int(input('Enter the value of n: '))
print([(a, b, c) for a in range(1, n + 1) for b in range(a, n + 1)
       for c in range(b, n + 1) if a**2 + b**2 == c**2])

Enter the value of n:  20

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

Answer-33

In [9]:
list4 = [(i,j) for i in range(3) for j in range(i, 3)] 
print(list4)

[(0, 0), (0, 1), (0, 2), (1, 1), (1, 2), (2, 2)]

Answer-35

In [7]:
from math import factorial as fct

rows = [[int(fct(n) / (fct(k) * fct(n - k))) for k in range(n + 1)] for n in range(6)]
print(*rows, sep="\n")

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

Answer-36

In [11]:
import math

[math.factorial(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

Answer-37

In [3]:
s="Hiroshi Nohara is Shin Chan's father"
longest_word_len = max(len(word) for word in s.split())
longest_word = [word for word in s.split() if len(word) == longest_word_len]
print(longest_word)

['Hiroshi']

Answer-38

In [5]:
import re

fruits = ["pineapple", "orange","guava","apple custard","strawberry"]
results = [i for i in fruits if len(re.sub(r"[^aeiouAEIOU]", "", i)) > 2]
print(results)

['pineapple', 'orange', 'guava', 'apple custard']